* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(28, 126, 126);
}

main{
    background-color: white;
    width: 500px;
    padding: 16px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.374); 
}

h1{
    font-size: 25px;
    color: blue;
}

h2{
    font-size: 18px;
    color: blue;
}

img.lado{
    float: right;
}